<!-- Add User Form -->
<div class = "popup" id = "create-user-form">
	<div class = "form-nav-header">
		<img src = "/assets/ui-back-arrow-black.png" class = "form-nav-back-btn" id = "back-to-click">
		<p class = "form-nav-title">Add User</p>
	</div>
	<form>
		<p class = "large-textinput-label">First Name:</p>
		<input class = "large-textinput center" id = "autocomplete" type = "text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

		<p class = "large-textinput-label">Last Name:</p>
		<input class = "large-textinput center" id = "autocomplete" type = "text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

		<p class = "large-textinput-label">Password:</p>
		<input class = "large-textinput center" id = "autocomplete" type = "password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">


		<!--<p class = "schedule-times-label">Role:</p>-->
		<div class = "sole-selector-select-container center">
			<select class = "sole-selector-select">
				<option value = "day">Patient</option>
				<option value = "week">Physician</option>
				<option value = "month">Admin</option>
			</select>
		</div>

		<div class = "submit-med-form">
			<p>Create</p>
		</div>
	</form>
</div>
<div class = "shade-behind-popup">
</div>

<!-- Toolbar -->
<div class = "ui-toolbar">
	<a href = "/" class = "small-logo"><img src = "/assets/logo-small.png"></a>
	<p class = "left-toolbar-text"><%= current_org.name.split.map(&:capitalize).join(' ')%></p>
	<%= form_tag control_index_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Search", :id => "ui-searchbar", :autocomplete => :off %>
		<%= submit_tag "Sub", :type => :image, :src => "/assets/search-icn.png", :id => "ui-searchbar-btn" %>
	<% end %>
	<div class = "ui-searchbar-bg">
	</div>
	<div class = "ui-toolbar-adduser"><p>Add User</p></div>
</div>
<div class = "ui-toolbar-shade">
</div>

<!-- App Body -->
<div class = "app-container" id = "full-style-container">
	<% if params[:search] %>
		<% y = 0 %>
		<% @users.each do |user| %>
			<% y += 1 %>
			<a href = "/control/setviewuser?viewuser=<%= encrypt(user.id) %>"><div class = "testingthefloat3" <% if y == 1 %>id = "firstmarginonnotesindex"<% end %>>
				<p><%= user.fullname %></p>
				<p><%= user.role %></p>
				<img src = "/assets/forward-icn.png">
			</div></a>
		<% end %>
	<% else %>
		<% f = 0 %>
		<% User.where(:organization => current_user.organization).pluck(:id).each do |userid| %>
			<% f += 1 %>
			<% @user = User.find(userid) %>
			<a href = "/control/setviewuser?viewuser=<%= encrypt(@user.id) %>"><div class = "testingthefloat3" <% if f == 1 %>id = "firstmarginonnotesindex"<% end %>>
				<p><%= @user.fullname %></p>
				<p><%= @user.role %></p>
				<img src = "/assets/forward-icn.png">
			</div></a>
	<% end end %>
<img src = "/assets/backdrop-logo.png" class = "backdrop-logo">
</div>


<script>
	$(".popup").hide();
	$(".shade-behind-popup").hide();

	$(".ui-toolbar-adduser").click(function() {
		$(".shade-behind-popup").css("pointer-events", "auto");
		$(".popup").fadeToggle();
		$(".shade-behind-popup").fadeToggle();
	});

	$(".shade-behind-popup").click(function() {
		$(".shade-behind-popup").css("pointer-events", "none");
		$(".popup").fadeToggle();
		$(".shade-behind-popup").fadeToggle();
	});

	$("#back-to-click").click(function() {
		$(".shade-behind-popup").css("pointer-events", "none");
		$(".popup").fadeToggle();
		$(".shade-behind-popup").fadeToggle();
	});

</script>

















