<!-- Toolbar -->
<div class = "ui-toolbar">
	<a href = "/control/index?isvalid=t" class = "right-logo"><img src = "/assets/logo-portal-icn"></a>
	<p class = "left-toolbar-text" id = "further-right"><%= decrypt(viewuser.fullname) %></p>
	<div class = "ui-toolbar-adduser"><p>Export As</p></div>
	<div class = "ui-toolbar-adduser-option">
		<div class = "option1"><p>.csv</p></div>
		<div class = "option2"><p>.pdf</p></div>
	</div>
	<!--	<div class = "ui-toolbar-adduser-option" id = "second-option"><p>pdf</p></div> -->
</div>
<div class = "ui-toolbar-shade" id = "light-blue">
</div>
<div class = "left-navbar">
	<div class = "left-nav-btn" id = "in-tab">
		<img src = "/assets/graph-icn.png" class = "left-nav-icn" id = "dash-left-icn">
		<p class = "left-nav-label">Dash</p>
	</div>
	<a href = "/medications/index">
		<div class = "left-nav-btn">
			<img src = "/assets/meds-icn.png" class = "left-nav-icn" id = "med-left-icn">
			<p class = "left-nav-label">Meds</p>
		</div>
	</a>
	<a href = "/notes/index">
		<div class = "left-nav-btn">
			<img src = "/assets/notes-icn.png" class = "left-nav-icn" id = "note-left-icn">
			<p class = "left-nav-label">Notes</p>
		</div>
	</a>
</div>
<div class = "app-container">
	<div id = "dashboard-component-1">
		<div class = "dashboard-component-1-1">
			<span><div id = "counter">0.0</div>%</span>
			<p>Adherence Rating</p>
			<% if @adherence > 0 %>
				<script>
					$({countNum: $('#counter').text()}).animate({countNum: parseInt("<%= @adherence %>")}, {
  						duration: 700,
  						easing:'linear',
  						step: function() {
    						$('#counter').text(Math.round(this.countNum * 10) / 10);
  						},
  						complete: function() {
    						$('#counter').text("<%= @adherence %>");
  						}
					});
				</script>
			<% end %>
		</div>
		<div id = "column-divider"></div>
		<div class = "dashboard-component-1-2">
			<% u = 0 %>
			<% @adherencearray.each do |date, perc|%>
			<% u += 1 %>
				<div class = "dash-graph-bar" id = "<%= date %>"></div>
				<script>
				$("#<%= date %>").animate({height: "<%= 200 * perc + 1 %>px"}, 700);
				function update() {
					if ($(window).width() < 900) {
						$("#<%= date %>").css("margin-left", "<%= 320 + (12 * date)%>px")
					} else if ($(window).width() > 1550) {
						$("#<%= date %>").css("margin-left", "<%= 320 + (35 * date)%>px")
					} else {
						$("#<%= date %>").css("margin-left", "calc(<%= 3.4 * date %>% - <%= 14 * date %>px + 320px)")
					}
					if ($(window).width() < 630) {
						$(".half-graph-btn-option 1z").hide();
					}
				};
				$(document).ready(update);
				$(window).resize(update);
				</script>
			<% end %>
		</div>
	</div>
	<% tocount = 0 %>
	<% @adherencegraphs.each do |addgraph| %>
		<% tocount += 1 %>
		<% curmed = Medication.find(addgraph[0]) %>
		<div class = "half-graph-container" id = "<%= tocount %>y">
			<div class = "half-graph-tool-bg">
				<p class = "half-graph-label"><%= decrypt(curmed.name) %>, <%= decrypt(curmed.dose) %></p>
				<!--<div class = "half-graph-btn-option 1z">
					<div class = "option1x"><p>Simple #</p></div>
					<div class = "option2x"><p>Contrast</p></div>
				</div>
				<div class = "half-graph-btn 1q"><p>Simple %</p></div>-->
				<script>
					var ioz = false;
					$("#<%= tocount %>y .1q").click(function() {
						if (ioz === false) {
							$("#<%= tocount %>y .1z").animate({height: "103px"}, 300);
							ioz = true;
						} else {
							$("#<%= tocount %>y .1z").animate({height: "20px"}, 300);
							ioz = false;
						}
					});
				</script>
				<% if tocount <= 2 %>
					<script>
						$("#<%= tocount %>y").css("margin-top", "290px")
					</script>
				<% end %>
				<div class = "div-line"></div>
			</div>
			<div id = "flexbox">
			<% o = 0 %>
			<% for graphval in addgraph[1] %>
				<% o += 1
				if o == 1
					prevg = addgraph[1][0][1]
					nextg = addgraph[1][o][1]
					thisg = graphval[1]
				elsif o == 31
					prevg = addgraph[1][o - 2][1]
					nextg = addgraph[1][o - 1][1]
					thisg = graphval[1]
				else
					prevg = addgraph[1][o - 2][1]
					nextg = addgraph[1][o][1]
					thisg = graphval[1]
				end
				%>
				<% if prevg == 0 && thisg == 0 && nextg == 0 %>
					<img class = "sub-percent-block" src = "/assets/rect11109.png" style = "height: 58px;">
				<% elsif prevg != 0 && thisg == 0 && nextg == 0 %>
					<img class = "sub-percent-block" src = "/assets/path11104.png" style = "height: 94px;">
				<% elsif prevg != 0 && thisg != 0 && nextg == 0 %>
					<img class = "sub-percent-block" src = "/assets/g11114.png" style = "height: 178px;">
				<% elsif prevg != 0 && thisg == 0 && nextg != 0 %>
					<img class = "sub-percent-block" src = "/assets/path11088.png" style = "height: 94px;">
				<% elsif prevg != 0 && thisg != 0 && nextg != 0 %>
					<img class = "sub-percent-block" src = "/assets/rect11035.png" style = "height: 178px;">
				<% elsif prevg == 0 && thisg != 0 && nextg == 0 %>
					<img class = "sub-percent-block" src = "/assets/path11086.png" style = "height: 178px;">
				<% elsif prevg == 0 && thisg != 0 && nextg != 0 %>
					<img class = "sub-percent-block" src = "/assets/g11094.png" style = "height: 178px;">
				<% elsif prevg == 0 && thisg == 0 && nextg != 0 %>
					<img class = "sub-percent-block" src = "/assets/path11111.png" style = "height: 94px;">
				<% end %>
			<% end %>
			</div>
		</div>
	<% end %>

<script>
	function updateit() {
		if ($(window).width() < 632) {
			$(".half-graph-btn").hide();
			$(".half-graph-btn-option").hide();
		} else {
			$(".half-graph-btn").show();
			$(".half-graph-btn-option").show();
		}
	}
	$(document).ready(updateit);
	$(window).resize(updateit);

	$(".ui-toolbar-adduser-option").hide();
	var io = false;
	$(".ui-toolbar-adduser").click(function() {
		if (io === false) {
			$(".ui-toolbar-adduser-option").fadeToggle(300);
			io = true;
		} else {
			$(".ui-toolbar-adduser-option").fadeToggle(300);
			io = false;
		}
	});
</script>



















