<!DOCTYPE html>
<html>
<head>
  <title>Medicloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="dtRnNEazJDmbD3rS9Zok8gYJKtGkp-x_iXi4AsNyQMQ" />
  <meta name="description" content="Manage complex medication schedules with ease, and avoid potential medication interactions. Get a free trial today.">
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Nixie+One|Work+Sans:200,300,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66030208-1', 'auto');
  ga('send', 'pageview');

</script>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <script>
    $(".notice").delay(2000).fadeOut(600);
  </script>
<% end %>
<%= yield %>

</body>
</html>
